*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.calculator{
    width: 80vw;
    max-width: 300px;
    height: 500px;
    background-color: #222828;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(143, 142, 142, 0.8), -2px -2px 10px rgba(143, 142, 142, 0.8);
}

.display{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px;
    /* background-color: #fff; */
}

.buttons{
    width: 100%;
    height: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.row{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 3px;
}

.row button{
    width: 18%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4), -1px -2px 10px rgba(0, 0, 0, 0.4);
    background: transparent;
    color: #ddd;
    border: none;
    font-size: 15px;
}

.row button:hover{
    box-shadow: inset 1px 2px 10px rgba(0, 0, 0, 0.6), -1px -2px 10px rgba(0, 0, 0, 0.6);
    font-size: small;
    opacity: 0.8;
}

.display input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6), -2px -2px 10px rgba(0, 0, 0, 0.6);
    background: transparent;
    border: none;
    text-align: right;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #ddd;
    letter-spacing: 3px;
}

input::placeholder{
    color: #ddd;
}

.row1 button, .row2 button{
    color: aquamarine;
}

.history{
    background-color: rgba(105, 127, 128, 0.29);
    height: 100%;
    width: 50vw;
    max-width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    right: -50vw;
    backdrop-filter: blur(15px);
    transition: all 0.4s ease-in-out;
}

.history h2{
    margin-top: 70px;
    text-decoration: underline;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fff;
}

.history h4{
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 4px;
    color: #fff;
};

.bracket-row {
    height: 8%;
    gap: 20px;
}

.bracket-row button {
    width: 40%;
    font-size: 16px;
}

.icon{
    position: absolute;
    top: 4%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 234);
    padding: 6px 14px;
    border-radius: 50px;
    cursor: pointer;
}

.icon i{
    font-size: 20px;
}

.icon2{
    position: absolute;
    top: 4%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    color: #fff;
    border: 2px solid rgb(0, 255, 234);
    padding: 6px 12px;
    border-radius: 50px;
    cursor: pointer;
}

.icon2 i{
    font-size: 20px;
}

#iconh4{
    margin-top: 0px;
    font-size: 14px;
    letter-spacing: 0px;
}

@media (max-width:600px) {
    .history h2{
        font-size: 20px;
    }
    .history h4{
        font-size: 18px;
    }
}